<h1>New List</h1>

<%= form_for @list, html: {:class => 'form'}, remote: true do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <%= f.submit 'Create'%>
<% end %>
